name: Interact With Arc Testnet Contract

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  interact:
    runs-on: ubuntu-latest

    env:
      ARC_TESTNET_RPC_URL: ${{ secrets.ARC_TESTNET_RPC_URL }}
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      ARC_ERC20_ADDRESS: ${{ secrets.NCA }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install web3

      - name: Run interaction script
        run: |
          cd scripts
          python interact.py mint \
            --to 0x9F5D4A3a8aBC0E4E76b60b91cd769f9cFE69Dcf4 \
            --amount 10000
